<h1> Here be the shopping page - view our inventory selection below! </h1>

<div id='categories'>
  <h2> 'Sample Item List' </h2>
    <ul>
      <% @items.each do |item| %>
        <li><%= link_to item.name, items_path(item.id) %></li>
      <% end %>
    </ul>
</div>

<div id='items'>
  <h2> 'Product Category List' </h2>
    <ul>
      <% @categories.each do |cat| %>
        <li><%= link_to cat.name, categories_path(cat.id) %></li>
      <% end %>
    </ul>
</div>