<div data-controller="format">
  <div data-format-target="message">
    <h1>WELCOME TO THE TEST ONLINE RETAIL STORE!</h1>
    <p>All sales are final. And all merchandise is fake.</p>
  </div>
  <div data-controller="format">
    <div>
      <% if current_user %>
        <%= link_to 'Shopping Page', user_shopping_path(@user.id), data: { format_target: "link" } %>
      <% else %>
        <%= link_to 'Shopping Page', shopping_path, data: { format_target: "link" } %>
      <% end %>
    </div>
  </div>
</div>


