<div data-controller="format">
  <h1>Create an Account</h1>
  <%= render partial: 'shared/registerform' %>
  <%= link_to 'Back', root_path, class: "text-blue-600 hover:text-blue-800", data: { target: "format.link" } %>
</div>

