<%= form_with url: login_path, method: :post, data: { login_target: "form" }, class: "w-full form-container" do %>
  <%= render Ui::InputComponent.new(
        name: "email",
        type: "email",
        label: "Email",
        field_data: { login_target: "input" },
        data: { login_target: "input" }
      ) %>

  <%= render Ui::InputComponent.new(
        name: "password",
        type: "password",
        label: "Password",
        field_data: { login_target: "input" },
        data: { login_target: "input" }
      ) %>

  <div class="actions">
    <%= render Ui::ButtonComponent.new(
          label: "Login",
          type: :submit,
          variant: :primary,
          class: "w-full sm:w-auto"
        ) %>
  </div>
<% end %>
