<h1> Hello <%= @user.email %> </h1>
<h3> Here be the shopping page - view our inventory selection below! </h3>

<div id='categories'>
  <h2> 'Sample Item List' </h2>
    <ul>
      <% @items.each do |item| %>
        <li> <%= link_to item.name, user_item_path(item.id) %> </li>
      <% end %>
    </ul>
</div>

<div id='items'>
  <h2> 'Product Category List' </h2>
    <ul>
      <% @categories.each do |cat| %>
        <li> <%= link_to cat.name, user_category_path(cat.id) %> </li>
      <% end %>
    </ul>
</div>