<!-- Index Page -->
<h1 class="text-2xl font-bold">Items Index Page</h1>

<div id="items" data-controller="shopping">
  <h2 class="list-header">All Items</h2>
  <ul class="list">
    <% @items.each do |item| %>
      <li class="list-item">
        <%= link_to item.name, item_path(item), data: { shopping_target: "link" } %>
        <p class="item-info">
          <span class="item-price">Price: $<%= sprintf("%.2f", item.unit_price / 100.0) %></span>
          <% if item.in_stock %>
            <span class="in-stock">In Stock</span>
          <% else %>
            <span class="out-of-stock">Out of Stock</span>
          <% end %>
        </p>
      </li>
    <% end %>
  </ul>
</div>

<!-- Home button below the list -->
<div class="home-button-container" data-controller="shopping">
  <%= link_to "Home", root_path, class: "home-button", data: { target: "shopping.link" } %>
  <%= link_to "Shopping", shopping_path, class: "home-button", data: { target: "shopping.link" } %>
</div>
