<h1>Find yer loot for all <%= @category.name %> here!</h1>

<div>
  <% @items.each do |item| %>
    <%= link_to item.name, items_path(item.id) %>
  <% end %>
  <%= link_to "Home", root_path, class: "back-link", data: { register_target: "link" } %>
</div>