<div data-controller="login">
  <h1> Login </h1> 
  <%= render partial: 'shared/loginform' %>
  <%= link_to 'Home', users_path, class: "text-blue-600 hover:text-blue-800", data: { target: "login.backLink" } %>
</div>

